<article class="ram">
  <h3>RAM(Random Access Memory)</h3>
  <p>
    사용자가 자유롭게 내용을 읽고 쓰고 지울 수 있는 기억 장치다. ROM과 함께 컴퓨터의 주 기억 장치로,
    롬과는 달리 '자유롭게 읽고 쓸 수 있다' 는 것을 기억해야 한다. 컴퓨터는 CPU에서 이뤄진 연산을
    메모리에 기록하며 또 읽어온다. 때문에 메모리가 없으면 컴퓨터는 동작하지 못한다.
    Random Access(임의접근, 任意接近)란 무작위가 아닌 어디로든 똑같은 시간으로 접근 가능하다는 의미로서,
    메모리의 주소만 알고 그곳을 지정하면 별다른 절차 없이 단숨에 접근 가능하다는 의미이다.
  </p>

  <p>
    대신 RAM에 기억된 내용은 전원이 끊기면 지워지는 휘발성 기억 장치이다.
    이런 특성 때문에 속도는 느리지만 전원이 끊어져도 정보를 저장할 수 있는 자기 테이프,
    플로피디스크, 하드디스크같은 보조 기억 장치가 나오게 되었다.
  </p>

  <p>
    실질적으로 보조 기억 장치의 용량이 아무리 커도 메모리가 적으면 PC는 제 성능을 발휘하기 어려우나,
    PC가 점점 대중화되고 사용하기 쉬워지며 가격이 급락하는 바람에 그 존재감이 점점 옅어지고 있는 데다가
    메모리라고 하면 USB 메모리와 착각 당하기까지 하는 것이 바로 이 메모리라는 존재이다.
  </p>

  <p>
    전원이 꺼져도 지워지지 않는 램도 있으나 현재의 RAM을 대체하지는 않는다.
    간혹 얘기 나오는 PRAM, MRAM, FeRAM 등이 그것. 열로 인한 물질의 상전이나
    자기장(을 사용한 스핀 정렬)같은 물질의 온갖 특성들을 동원해서 전원이 꺼져도 정보를 저장하는 방식이다.
    실용화되면 처리와 저장을 동시에, 즉 CPU와 RAM과 하드디스크/SSD의 기능을 동시에 가질 수도 있다지만
    아직 연구소 바깥으로 나오지 못했다. 자기장을 사용한 MRAM이 2012년 후반기에 실험적으로 자동차에
    사용된 정도가 고작이며 실용화돼도 하나같이 차폐 기술을 적용하지 않으면 우주선엔 사용이 불가능할
    정도로 민감하다.
  </p>

  <p>
    2014년 현재 상용화가 가까운 차세대 램은 MRAM(의 파생 개량형 STT-MRAM; 도시바-하이닉스),
    ReRAM(혹은 RRAM; 소니-마이크론), PRAM(혹은 PCM; 삼성) 정도로 꼽을 수 있는데 이 중 ReRAM
    2GB 단일 모듈을 소니-마이크론에서 시연했다. STT-MRAM은 자기를 이용하는 특성 때문에 읽기/쓰기
    수명이 반영구적이며 다른 차세대 램에 비해 안정적으로 작동하는 편이다. 또한 랜덤 액세스가 비교적 빠른
    편이라 유력한 차세대 램의 후보로 여겨졌으나 비교적 소비전력이 큰 편이고 SRAM의 동작 속도에 비해
    다소 느린 편이며 셀 집적화의 한계로 고용량을 실현하기가 어렵기 때문에 현재로써는 SRAM 위주인
    LLC(Last level cache)를 대체하는 정도가 될 것이라고 한다. 한편 PRAM은 빛을 이용하는 특성
    때문에 소비 전력이 너무 커 개발이 더뎌진 상황이라 메모리 뿐만 아니라 스토리지 용도로도 사용될 수
    있는 차세대 램은 ReRAM이 될 것이라고 한다. 여전히 비 휘발성 차세대 램의 갈 길은 멀지만 지속적인
    연구로 상황이 점차 나아지고 있다.
  </P>

  <p>
    플래시 메모리는 램이 아니고 보조 기억 장치의 일종이다.
    똑같이 읽고 쓰는 게 가능한데 어째서 RAM 취급을 안 해 주냐면, CPU에서 대개 직접 읽고 쓸 수
    없으며(일부 CPU는 플래시 메모리 컨트롤러 내장) 램처럼 바이트 단위로 접근할 수 없고 블록 단위 페이지
    단위로 읽기/쓰기가 진행되기 때문이다. (읽기/쓰기는 페이지 단위, 삭제는 블럭단위다.)
    플래시 메모리가 RAM이 아니니까 그것과 구분하여 ROM이라고 적은 마케팅 자료도 있는데, 더더욱 아니다
  </p>

  <p>
    조립컴퓨터 견적에서는 언제나 다다익램의 규칙으로 통한다.
    대체 뭐 하는 존재인지 자세히 파고들 생각이 없는데 존재 이유를 알고 싶다면 컴퓨터의
    다른 부품들(CPU,메인보드)이 어느정도 받아준다는 가정하에 단순하게 크고 아름다운 프로그램을
    여러 개 켜놓고도 컴퓨터가 무리 없이 돌아가는데 도움을 주는 장치라고 생각하면 된다.
  </p>

</article>
