<article>
  <div class="contents">

  </div>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>recommend</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Writer</th>
        <th class="mdl-data-table__cell--non-numeric">Date</th>
        <th>hits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td class="mdl-data-table__cell--non-numeric">title1</td>
        <td class="mdl-data-table__cell--non-numeric">Paul McCartne</td>
        <td class="mdl-data-table__cell--non-numeric">2017.1.10</td>
        <td>3</td>
      </tr>

      <tr>
        <td>4</td>
        <td class="mdl-data-table__cell--non-numeric">title2</td>
        <td class="mdl-data-table__cell--non-numeric">Paul McCartne</td>
        <td class="mdl-data-table__cell--non-numeric">2017.1.11</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

  <ul class="pagination center-block" style="display: inline-block;">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>

</article>
