.demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
}

#cpuWhat {
    background: url('../images/cpuWhat.jpg') center / cover;
}

#cpuPoint {
    background: url('../images/cpuPoint.jpg') center / cover;
}

#ramWhat {
    background: url('../images/ramWhat.jpg') center
}

#ramPoint {
    background: url('../images/ramPoint.jpg') center
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.demo-card-square.mdl-card {
    position: fixed;
    top: 25%;
    height: 90%;
    width: 65%;
    z-index: 10000;
    display: none;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    width: 500px;
}

.mdl-card__supporting-text {
    width: 500px;
}

table {
    margin: auto;
}

/*modals*/
.demo-card-square.mdl-card.mdl-shadow--2dp.is-visible {
    top: 15%;
    width: 45%;
    left: 30%;
    max-height: 332px;
}

#signInInfo, #addInformationInfo {
    top: 15%;
    width: 45%;
    left: 30%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-square.mdl-card.is-visible{
    display: block;
}

.demo-list-control {
    width: 300px;
}

.demo-list-radio {
    display: inline;
}

.details {
    display: none;
}

.details.is-visible {
    display: block;
}