.demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
}

#cpuWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -562px;
}

#cpuPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -286px -10px;
}

#ramWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -286px -562px;
}

#ramPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -10px;
}

#mainBoardWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -562px -286px;
}

#mainBoardPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -562px -10px;
}

#vgaWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -838px -562px;
}

#vgaPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -838px -286px;
}

#ssdWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -562px -562px;
}

#ssdPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -838px -10px;
}

#hddWhatImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -286px -286px;
}

#hddPointImg {
    width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -286px;
}



.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.demo-card-square.mdl-card {
    position: fixed;
    top: 25%;
    height: 90%;
    width: 65%;
    opacity: 0;
    transition: opacity 2s;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    width: 500px;
}

.mdl-card__supporting-text {
    width: 500px;
}

table {
    margin: auto;
}

/*modals*/
.demo-card-square.mdl-card.mdl-shadow--2dp {
    z-index: 0;
    padding: 20px;
}

.demo-card-square.mdl-card.mdl-shadow--2dp.is-visible {
    top: 15%;
    width: 45%;
    left: 30%;
    max-height: 332px;
    z-index: 10000;
    opacity: 1;
}

#addProductModal {
    height: 80% !important;
    max-height: 700px;
}

#addInformationInfo {
    top: 15%;
    width: 45%;
    left: 30%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-square.mdl-card.is-visible {
    display: block;
}

.demo-list-control {
    width: 300px;
}

.demo-list-radio {
    display: inline;
}

.details {
    display: none;
}

.details.is-visible {
    display: block;
}

.informations {
    display: none;
    opacity: 0;
}

.informations.is-visible {
    display: block;
    opacity: 1;
}

