.selectBox {
    position: relative;
    width: 200px; /* 너비설정 */
    border: 1px solid #999; /* 테두리 설정 */
    z-index: 1;
}
.selectBox:before {
    /* 화살표 대체 */
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}

.selectBox label {
    position: absolute;
    top: 1px; /* 위치정렬 */
    left: 5px; /* 위치정렬 */
    padding: .5em .5em; /* select의 여백 크기 만큼 */
    color: #999;
    z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.selectBox select {
    width: 100%;
    height: auto; /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    font-family: inherit; /* 폰트 상속 */ padding: .8em .5em; /* 여백과 높이 결정 */
    border: 0; opacity: 0; /* 숨기기 */ filter:alpha(opacity=0); /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
